<!DOCTYPE HTML>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
	<style>
		html, body { 
			padding: 0;
			margin: 0;
			font-family: sans-serif;
		}
		#success h1 {
			color: #12a6a4;
			font-family: 'Amaranth', sans-serif;
		}
		#success {
			border: 10px solid #12a6a4;
			width: 50%;
			margin: 0 auto;
			text-align: center;
			margin-top: 20%;
		}
		#success p {
			margin: 20px;
		}
	</style>
    <title>Change This Site</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71100209-2', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body>
	<div id="success">
		<h1>Success</h1>

		<p>You've changed this site! Your site will stay active until someone else changes this site.</p>
		<p>To see it live go back <a href="/">home</a>.</p>
	</div>
</body>
</html>