<!DOCTYPE HTML>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
	<style>
		html, body { 
			padding: 0;
			margin: 0;
			font-family: sans-serif;
		}
		#success h1 {
			color: #12a6a4;
			font-family: 'Amaranth', sans-serif;
		}
		#success {
			border: 10px solid #12a6a4;
			width: 50%;
			margin: 0 auto;
			text-align: center;
			margin-top: 20%;
		}
		#success p {
			margin: 20px;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<div id="success">
		<h1>Success</h1>

		<p>You've changed this site! Your site will stay active until someone else changes this site.</p>
		<p>To see it live go back <a href="/">home</a>.</p>
	</div>
</body>
</html>